<h2><i class="fa fa-truck fa-2"></i>  {{'HEAD.MODAL_SHIPMENT.HEAD' | translate}}</h2>
<div class="stepwizard">
    <div class="stepwizard-row setup-panel">
        <div class="stepwizard-step">
            <a id="nav-step1" href="#step-1" type="button" class="btn btn-primary btn-circle" ng-click="SelectStep(1)">1</a>
            <p>{{'HEAD.MODAL_SHIPMENT.BILLING.STEP' | translate}}</p>
        </div>
        <div class="stepwizard-step">
            <a id="nav-step2" href="#step-2" type="button" class="btn btn-default btn-circle" ng-click="SelectStep(2)" disabled="disabled">2</a>
            <p>{{'HEAD.MODAL_SHIPMENT.PAYMENT.STEP' | translate}}</p>
        </div>
        <div class="stepwizard-step">
            <a id="nav-step3" href="#step-3" type="button" class="btn btn-default btn-circle" ng-click="SelectStep(3)" disabled="disabled">3</a>
            <p>{{'HEAD.MODAL_SHIPMENT.FINISH.STEP' | translate}}</p>
        </div>
    </div>
</div>

<form role="form">
    <div class="row" id="step-1" ng-show="step == 1">
        <div class="col-xs-12">
            
            <div class="col-md-12">
                <h3>{{'HEAD.MODAL_SHIPMENT.BILLING.STEP' | translate}}</h3>
                <div class="row form-group">
                    <div>
                      <form class="form-horizontal" role="form">
                   
                          <legend>&nbsp;</legend>
                     
                          <div class="form-group">
                                <label class="col-md-4 control-label">{{'HEAD.MODAL_SHIPMENT.BILLING.BILL_NAME' | translate}} :</label>
                                <div class="col-md-8">
                                    <input maxlength="200" type="text" ng-model="ROHead.BillingName" required="required" 
                                    class="form-control" placeholder="{{'HEAD.MODAL_SHIPMENT.BILLING.BILL_NAME' | translate}}" />
                                </div>
                          </div>
                          <div class="form-group"></div>
                          <div class="form-group">
                                <label class="col-md-4 control-label">{{'HEAD.MODAL_SHIPMENT.BILLING.BILL_EMAIL' | translate}} :</label>
                                <div class="col-md-8">
                                    <input maxlength="200" type="text" ng-model="ROHead.BillingEmail" required="required" 
                                    class="form-control" placeholder="{{'HEAD.MODAL_SHIPMENT.BILLING.BILL_EMAIL' | translate}}" />
                                </div>
                          </div>
                          <div class="form-group"></div>
                          <div class="form-group">
                            <label class="col-sm-4 control-label" for="textinput">{{'HEAD.MODAL_SHIPMENT.BILLING.BILL_ADDRESS' | translate}} :</label>
                            <div class="col-sm-8">
                              <input type="text" ng-model="ROHead.BillingAddress" required="required" placeholder="{{'HEAD.MODAL_SHIPMENT.BILLING.BILL_ADDRESS' | translate}}" class="form-control">
                            </div>
                          </div>
                          <div class="form-group"></div>
                      
                          <div class="form-group">
                            <label class="col-md-4 control-label" for="textinput">{{'HEAD.MODAL_SHIPMENT.BILLING.BILL_PROVINCE' | translate}} :</label>
                            <div class="col-md-8">
                              <select id="SelectProvince" name="selectbasic" class="form-control input-md" 
                           ng-model="ROHead.BillingProvinceId" ng-options="Province._id as Province.Province for Province in SelectBillingProvinceList" ng-change="UpdateBillingProvince()" required="required">
                                    <option value="">{{'HEAD.MODAL_SHIPMENT.BILLING.BILL_SELECT_PROVINCE' | translate}}</option>
                               </select>
                            </div>
                          </div>
                          <div class="form-group"></div>
                          
                          <div class="form-group">
                            <label class="col-sm-4 control-label" for="textinput">{{'HEAD.MODAL_SHIPMENT.BILLING.BILL_DISTRICT' | translate}} :</label>
                            <div class="col-sm-8">
                               <select id="SelectDistrictList" name="selectbasic" class="form-control input-md"  
                               required="required"
                               ng-model="ROHead.BillingDistrictId" ng-options="District._id as District.District for District in SelectBillingDistrictList" ng-change="UpdateBillingDistrict(District._id)">
                                    <option value="">{{'HEAD.MODAL_SHIPMENT.BILLING.BILL_SELECT_DISTRICT' | translate}}</option>
                               </select>
                            </div>
                          </div>
                          <div class="form-group"></div>
                     
                          <div class="form-group">
                            <label class="col-sm-4 control-label" for="textinput">{{'HEAD.MODAL_SHIPMENT.BILLING.BILL_SUBDISTRICT' | translate}} :</label>
                            <div class="col-sm-8">
                              <select id="SelectSubDistrictList" name="selectbasic" class="form-control input-md" 
                               required="required" ng-model="ROHead.BillingSubDistrictId" ng-options="SubDistrict._id as SubDistrict.SubDistrict for SubDistrict in SelectBillingSubDistrictList" ng-change="UpdateBillingSubDistrict()">
                                    <option value="">{{'HEAD.MODAL_SHIPMENT.BILLING.BILL_SELECT_SUBDISTRICT' | translate}}</option>
                               </select>
                            </div>
                            <label class="col-sm-4 control-label" for="textinput">{{'HEAD.MODAL_SHIPMENT.BILLING.BILL_ZIPCODE' | translate}} :</label>
                            <div class="col-sm-8">
                              <select id="SelectZipCodeList" name="selectbasic" class="form-control input-md" ng-model="ROHead.BillingZipCode" ng-options="ZipCode._id as ZipCode.ZipCode for ZipCode in SelectBillingZipCodeList"  required="required">
                                    <option value="">{{'HEAD.MODAL_SHIPMENT.BILLING.BILL_SELECT_ZIPCODE' | translate}}</option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-4 control-label" for="textinput">{{'HEAD.MODAL_SHIPMENT.BILLING.TEL_NO' | translate}} :</label>
                            <div class="col-sm-8">
                               <input type="text" ng-model="ROHead.TelNo" required="required" placeholder="{{'HEAD.MODAL_SHIPMENT.BILLING.TEL_NO' | translate}}" class="form-control">
                            </div>
                          </div>
                          <div class="form-group"></div>
                          <div class="form-group">
                            <label class="col-sm-4 control-label" for="textinput">{{'HEAD.MODAL_SHIPMENT.BILLING.MOBILE_NO' | translate}} :</label>
                            <div class="col-sm-8">
                               <input type="text" ng-model="ROHead.MobileNo" required="required" placeholder="{{'HEAD.MODAL_SHIPMENT.BILLING.MOBILE_NO' | translate}}" class="form-control">
                            </div>
                          </div>
                          <div class="form-group"></div>
                      </form>
                    </div>
                </div>
                
                <h3>{{'HEAD.MODAL_SHIPMENT.BILLING.STEP' | translate}}</h3> 
                <div class="row form-group">
                    <input type="checkbox" ng-model="IsSameAddress" ng-click="PerformSameBillAndReceiptAddress()"> {{'HEAD.MODAL_SHIPMENT.BILLING.SAME_ADDRESS' | translate}}
                </div>
                <div class="row form-group">
                    <div>
                      <form class="form-horizontal" role="form">
                       
                          <legend>&nbsp;</legend>
                      
                          <div class="form-group">
                                <label class="col-md-4 control-label" style="text-align: left">{{'HEAD.MODAL_SHIPMENT.BILLING.RO_NAME' | translate}} :</label>
                                <div class="col-md-8">
                                    <input maxlength="200" type="text" ng-model="ROHead.ReceiptName" required="required" 
                                    class="form-control" placeholder="{{'HEAD.MODAL_SHIPMENT.BILLING.RO_NAME' | translate}}" />
                                </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-4 control-label" for="textinput" style="text-align: left">{{'HEAD.MODAL_SHIPMENT.BILLING.RO_ADDRESS' | translate}} :</label>
                            <div class="col-sm-8">
                              <input type="text" ng-model="ROHead.ReceiptAddress" required="required" placeholder="{{'HEAD.MODAL_SHIPMENT.BILLING.RO_ADDRESS' | translate}}" class="form-control">
                            </div>
                          </div>
                          
                          <div class="form-group">
                            <label class="col-md-4 control-label" for="textinput" style="text-align: left">{{'HEAD.MODAL_SHIPMENT.BILLING.RO_PROVINCE' | translate}} :</label>
                            <div class="col-md-8">
                              <select id="SelectProvince" name="selectbasic" class="form-control input-md" 
                           ng-model="ROHead.ReceiptProvinceId" ng-options="Province._id as Province.Province for Province in SelectReceiptProvinceList" ng-change="UpdateReceiptProvince()" required="required">
                                    <option value="">{{'HEAD.MODAL_SHIPMENT.BILLING.RO_SELECT_PROVINCE' | translate}}</option>
                               </select>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-4 control-label" for="textinput" style="text-align: left">{{'HEAD.MODAL_SHIPMENT.BILLING.RO_DISTRICT' | translate}} :</label>
                            <div class="col-sm-8">
                               <select id="SelectDistrictList" name="selectbasic" class="form-control input-md"  
                               required="required"
                               ng-model="ROHead.ReceiptDistrictId" ng-options="District._id as District.District for District in SelectReceiptDistrictList" ng-change="UpdateReceiptDistrict()">
                                    <option value="">{{'HEAD.MODAL_SHIPMENT.BILLING.RO_SELECT_DISTRICT' | translate}}</option>
                               </select>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-4 control-label" for="textinput" style="text-align: left">{{'HEAD.MODAL_SHIPMENT.BILLING.RO_SUBDISTRICT' | translate}} :</label>
                            <div class="col-sm-8">
                              <select id="SelectSubDistrictList" name="selectbasic" class="form-control input-md" 
                               required="required" ng-model="ROHead.ReceiptSubDistrictId" ng-options="SubDistrict._id as SubDistrict.SubDistrict for SubDistrict in SelectReceiptSubDistrictList" ng-change="UpdateReceiptSubDistrict()">
                                    <option value="">{{'HEAD.MODAL_SHIPMENT.BILLING.RO_SELECT_SUBDISTRICT' | translate}}</option>
                               </select>
                            </div>
                            <label class="col-sm-4 control-label" for="textinput" style="text-align: left">{{'HEAD.MODAL_SHIPMENT.BILLING.RO_ZIPCODE' | translate}} :</label>
                            <div class="col-sm-8">
                              <select id="SelectZipCodeList" name="selectbasic" class="form-control input-md" ng-model="ROHead.ReceiptZipCode" ng-options="ZipCode._id as ZipCode.ZipCode for ZipCode in SelectReceiptZipCodeList"  required="required">
                                    <option value="">{{'HEAD.MODAL_SHIPMENT.BILLING.RO_SELECT_ZIPCODE' | translate}}</option>
                              </select>
                            </div>
                          </div>
                      </form>
                    </div>
                </div>
            </div>
		
            <div>
                <button class="btn btn-primary btn-lg center-block" type="button" ng-click="ValidateBilling()">  
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span> {{'HEAD.MODAL_SHIPMENT.BILLING.BUTTON_NEXT' | translate}}
                </button>
            </div>
        </div>
    </div>
    <div class="row" id="step-2" ng-show="step == 2">
        <div class="col-xs-12">
            <div class="col-md-12">
                <h3>{{'HEAD.MODAL_SHIPMENT.PAYMENT.STEP' | translate}}</h3>
                <div class="row form-group">
                    <!-- You can make it whatever width you want. I'm making it full width
                         on <= small devices and 4/12 page width on >= medium devices -->  
                    <div class="col-xs-12">
                        <div class="col-xs-4">
                             <label style="color:white">{{'HEAD.MODAL_SHIPMENT.PAYMENT.PAYMENT_TYPE' | translate}}</label>
                        </div>
                        <div class="col-xs-8">
                            <select class="form-control" ng-model="PaymentType" required="required">
                                <option value="">{{'HEAD.MODAL_SHIPMENT.PAYMENT.SELECT_PAYMENT_TYPE' | translate}}</option>
                                <option value="Transfer">{{'HEAD.MODAL_SHIPMENT.PAYMENT.TRANSFER' | translate}}</option>
                            <!--    <option value="Paypal">{{'HEAD.MODAL_SHIPMENT.PAYMENT.PAYPAL' | translate}}</option> -->
                                <option value="Credit" disabled="true" title="Credit Card is not support yet :(">{{'HEAD.MODAL_SHIPMENT.PAYMENT.CREDIT' | translate}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12">
                    </div>
                    <div class="col-xs-12">
                    </div>
                    <div class="col-xs-12"> 
                         <div class="col-xs-2">
                         </div>
                         <div class="col-xs-10" ng-show="PaymentType == 'Transfer'">
                        <!-- TRANSFER FORM STARTS HERE -->
                        <div class="panel panel-default transfer-box">
                            <div class="panel-heading display-table">
                                <div class="row display-tr" >
                                    <h3 class="panel-title display-td">Payment Details</h3>
                                    <div class="display-td" >                            
                                    </div>
                                </div>                    
                            </div>
                            <div class="panel-body">
                                <form role="form" id="transfer-form">
                                    <div class="row">
                                        <table class="table table-condense">
                                            <thead>
                                                <tr>
                                                    <th class="text-center" style="color:black">{{'HEAD.MODAL_CART.SEQ' | translate}}</th>
                                                    <th class="text-center" style="color:black">Bank</th>
                                                    <th class="text-left" style="color:black">Account No</th>
                                                    <th class="text-left" style="color:black">Account Type</th>
                                                    <th class="text-left" style="color:black">Branch</th>
                                                    <th class="text-left" style="color:black">Account Name</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-center">
                                                        <input type="radio" name="bank" ng-model="PaymentBank" value="bbl" required="required"/>
                                                    </td>
                                                    <td class="text-center">
                                                        <img src="/images/bbl.png" width="40" height="40">
                                                    </td>
                                                    <td>
                                                        <label style="color:black">406-0-74796-3</label>
                                                    </td>
                                                    <td>
                                                       <label style="color:black">Saving</label>
                                                    </td>
                                                    <td>
                                                       <label style="color:black">Surin</label>
                                                    </td>
                                                    <td>
                                                        <label style="color:black">นายปัญญา บุญยกุลศรีรุ่ง</label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <input type="radio" name="bank" ng-model="PaymentBank" value="kbank" required="required"/>
                                                    </td>
                                                    <td class="text-center">
                                                        <img src="/images/kbank.png" width="40" height="40">
                                                    </td>
                                                    <td>
                                                       <label style="color:black">111-2345-123</label>
                                                    </td>
                                                    <td>
                                                       <label style="color:black">Saving</label>
                                                    </td>
                                                    <td>
                                                       <label style="color:black">Surin</label>
                                                    </td>
                                                    <td>
                                                        <label style="color:black">นายปัญญา บุญยกุลศรีรุ่ง</label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                          <input type="radio" name="bank" ng-model="PaymentBank" value="scb" required="required"/>
                                                      
                                                    </td>
                                                    <td class="text-center">
                                                        <img src="/images/scb.png" width="40" height="40">
                                                    </td>
                                                    <td>
                                                        <label style="color:black">111-2345-123 </label>
                                                    </td>
                                                    <td>
                                                       <label style="color:black">Saving</label>
                                                    </td>
                                                    <td>
                                                       <label style="color:black">Surin</label>
                                                    </td>
                                                    <td>
                                                        <label style="color:black">นายปัญญา บุญยกุลศรีรุ่ง</label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                          <input type="radio" name="bank" ng-model="PaymentBank" value="ktb" required="required"/>
                                                    </td >
                                                    <td class="text-center">
                                                        <img src="/images/ktb.png" width="40" height="40">
                                                    </td>
                                                    <td>
                                                        <label style="color:black">111-2345-123 </label>
                                                    </td>
                                                    <td>
                                                       <label style="color:black">Saving</label>
                                                    </td>
                                                    <td>
                                                       <label style="color:black">Surin</label>
                                                    </td>
                                                    <td>
                                                       <label style="color:black"> นายปัญญา บุญยกุลศรีรุ่ง</label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                          <input type="radio" name="bank" ng-model="PaymentBank" value="kcc" required="required"/>
                                                    </td >
                                                    <td class="text-center">
                                                        <img src="/images/kcc.png" width="40" height="40">
                                                    </td>
                                                    <td>
                                                        <label style="color:black">111-2345-123 </label>
                                                    </td>
                                                    <td>
                                                       <label style="color:black">Saving</label>
                                                    </td>
                                                    <td>
                                                       <label style="color:black">Surin</label>
                                                    </td>
                                                    <td>
                                                       <label style="color:black"> นายปัญญา บุญยกุลศรีรุ่ง</label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                       
                                                        <input type="radio" name="bank" ng-model="PaymentBank" value="tmb" required="required"/>
                                                     
                                                    </td class="text-center">
                                                    <td>
                                                        <img src="/images/tmb.png" width="60" height="35">
                                                    </td>
                                                    <td>
                                                        <label style="color:black">111-2345-123</label>
                                                    </td>
                                                    <td>
                                                       <label style="color:black">Saving</label>
                                                    </td>
                                                    <td>
                                                       <label style="color:black">Surin</label>
                                                    </td>
                                                    <td>
                                                       <label style="color:black">นายปัญญา บุญยกุลศรีรุ่ง</label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                          <input type="radio" name="bank" ng-model="PaymentBank" value="uob" required="required" />
                                                    </td>
                                                    <td class="text-center">
                                                        <img src="/images/uob.png" width="60" height="30">
                                                    </td>
                                                    <td>
                                                        <label style="color:black">111-2345-123</label>
                                                    </td>
                                                    <td>
                                                       <label style="color:black">Saving</label>
                                                    </td>
                                                    <td>
                                                       <label style="color:black">Surin</label>
                                                    </td>
                                                    <td>
                                                       <label style="color:black"> นายปัญญา บุญยกุลศรีรุ่ง </label>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </form>
                            </div>
                        </div>            
                        <!-- TRANSFER FORM ENDS HERE -->
                         </div>  
                    </div>  
                    <div class="col-xs-12"> 
                         <div class="col-xs-2">
                         </div>
                         <div class="col-xs-10" ng-show="PaymentType == 'Paypal'">
                            <!-- PAYPAL FORM STARTS HERE -->
                            <div class="panel panel-default transfer-box">
                                <div class="panel-heading display-table">
                                    <div class="row display-tr" >
                                        <h3 class="panel-title display-td">Payment with Paypal</h3>
                                        <div class="display-td text-center" >  
                                            <img src="https://www.paypalobjects.com/webstatic/mktg/logo/pp_cc_mark_74x46.jpg" border="0" alt="PayPal Logo"><br>
                                            <img src="https://www.paypalobjects.com/webstatic/mktg/logo/PP_AcceptanceMarkTray-NoDiscover_243x40.png" alt="Buy now with PayPal" />    
                                        </div>
                                    </div>                    
                                </div>
                                <div class="panel-body">
                                <!--
                                    <form role="form" id="paypal-form-1" ng-show="Paypal.EnvironmentSandbox">
                                        <div class="row text-center">
                                           <script async src="paypal-button.min.js?merchant=KPBPW2K85KMAJ"
                                                data-button="buynow"
                                                data-type="form"
                                                data-name={{Paypal.Name}}
                                                data-quantity={{Paypal.Quantity}}
                                                data-amount={{Paypal.Amount}}
                                                data-currency = {{Paypal.Currency}}
                                                data-shipping = {{Paypal.Shipping}}
                                                data-tax = {{Paypal.Tax}}
                                                data-callback = {{Paypal.CallbackUrl}}
                                                data-return = {{Paypal.CallbackUrl}}
                                                data-return-url = {{Paypal.CallbackUrl}}
                                                data-env="sandbox"
                                            ></script>
                                            
                                        </div>
                                    </form>
                                    <form role="form" id="paypal-form-2" ng-show="!Paypal.EnvironmentSandbox">
                                        <div class="row text-center">
                                           <script async src="paypal-button.min.js?merchant=KPBPW2K85KMAJ"
                                                data-button="buynow"
                                                data-type="form"
                                                data-name={{Paypal.Name}}
                                                data-quantity={{Paypal.Quantity}}
                                                data-amount={{Paypal.Amount}}
                                                data-currency = {{Paypal.Currency}}
                                                data-shipping = {{Paypal.Shipping}}
                                                data-tax = {{Paypal.Tax}}
                                                data-callback = {{Paypal.CallbackUrl}}
                                                data-return = {{Paypal.CallbackUrl}}
                                                data-return-url = {{Paypal.CallbackUrl}}
                                            ></script>
                                        </div>
                                    </form>-->
                                </div>
                            </div>            
                        <!-- PAYPAL FORM ENDS HERE -->
                         </div>  
                    </div>
                    <div class="col-xs-12"> 
                         <div class="col-xs-4">
                         </div>        
                          <div class="col-xs-8" style="font-size: 12pt; line-height: 2em;" ng-show="PaymentType == 'Credit'">
                        <!-- CREDIT FORM STARTS HERE -->
                        <div class="panel panel-default credit-card-box">
                            <div class="panel-heading display-table" >
                                <div class="row display-tr" >
                                    <h3 class="panel-title display-td">Credit Card Details</h3>
                                    <img class="img-responsive pull-right" src="/images/accept_visa_type.png">
                                </div>
                            </div>
                            <div class="panel-body">
                                <form role="form" id="credit-form">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group" style="color:black">
                                                CARD NUMBER
                                                <div class="input-group">
                                                    <input 
                                                        type="tel"
                                                        class="form-control"
                                                        name="cardNumber"
                                                        ng-model="cardNumber"
                                                        placeholder="Valid Card Number"
                                                        autocomplete="cc-number" payments-format="card"
                                                        required="required" autofocus  
                                                    />
                                                    <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                                </div>
                                            </div>                            
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6 col-md-6">
                                            <div class="form-group" style="color:black">
                                               EXPIRATION DATE
                                                <input 
                                                    type="tel" 
                                                    class="form-control" 
                                                    name="cardExpiry"
                                                    ng-model="cardExpiry"
                                                    placeholder="MM / YY"
                                                    autocomplete="cc-exp" payments-format="expiry"
                                                    required="required" 
                                                />
                                            </div>
                                        </div>
                                        <div class="col-xs-4 col-md-4 pull-right">
                                            <div class="form-group" style="color:black">
                                                CV CODE
                                                <input 
                                                    type="tel" 
                                                    class="form-control"
                                                    name="cardCVC" payments-format="cvc" 
                                                    ng-model="cardCVC"
                                                    placeholder="CVC"
                                                    autocomplete="cc-csc"
                                                    required="required"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="form-group" style="color:black">
                                                COUPON CODE
                                                <input type="text" class="form-control" name="couponCode" ng-model="couponCode"/>
                                            </div>
                                        </div>                        
                                    </div>
                                    
                                    <div class="row" style="display:none;">
                                        <div class="col-xs-6">
                                            <p class="payment-errors"></p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>            
                        <!-- TRANSFER FORM ENDS HERE -->
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button class="btn btn-primary btn-lg center-block" type="button" ng-click="ValidatePayment()">
                        <span class="glyphicon glyphicon-play" aria-hidden="true"></span> {{'HEAD.MODAL_SHIPMENT.PAYMENT.BUTTON_NEXT' | translate}}
                </button>
            </div>
        </div>
    </div>
    <div class="row" id="step-3" ng-show="step == 3">
        <div class="col-xs-12">
            <div class="col-md-12">
                <h3> Step 3</h3>
            <!--    <button class="btn btn-success btn-lg center-block" ng-click="ValidateFinish()">Finish!</button> -->
                <center>Thank you for your order :).</center>
            </div>
        </div>
    </div>
</form>